<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">Repair Master</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <% if (user) { %>

          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/repairs">Repairs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/repairs/search">Search Repair ID</a>
          </li>

          <% if (user && (user.role === 'admin' || user.role === 'engineer')) { %>
            <li class="nav-item">
              <a class="nav-link" href="/repairs/add">Add Repair</a>
            </li>
          <% } %>

          <% if (user && user.role === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Register User</a>
            </li>
          <% } %>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

        <% } else { %>

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

        <% } %>

      </ul>
    </div>
  </div>
</nav>